body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}

.MuiInputBase-root fieldset {
  border-width: 2px;
  border-color: #badefe;
}

.moving-text:hover {
  animation-play-state: paused;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.mdl-textfield:not(.is-dirty) input::-webkit-datetime-edit {
  color: transparent; 
}

input:focus::-webkit-datetime-edit {
 color: rgba(255, 255, 255, .46) !important; 
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: marquee 5s linear infinite;
  }
}
